*{
	margin: 0;
	padding: 0;
}


body{
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0pzGynguEIOYwQszilgrYUBMgb7YMTFoI6g&usqp=CAU');
}

.container{
	width: 1000px;
	margin: 20px auto 0 auto;	
}

.header{
	height: 250px;
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjFjfmSzSCXcjhy60MVB7JYVDlkHQ5TjnQ_Q&usqp=CAU');	
}

.logo{
	position: relative;
	top:50px;
	left: 50px;
}

.logo img{
	width: 100px;
}

.menu{
	height: 60px;
	background-color: rgb(92, 94, 89);
	
}

.nav{
	list-style: none;	
	display: flex;
	justify-content: space-between;
}
.nav li{
	margin: 10px;
	padding: 10px;
}

.nav a{
	text-decoration: none;
	color: #fff;
	
}

.nav li a:hover{
	background-color: #838383;
	padding: 10px;
} 


.content{
	min-height: 1000px;
	background-color: rgb(53, 59, 59);
}

p{
	font-family: 'Roboto', sans-serif;
}

.footer{
	height: 50px;
	background-color: #ffc548;
	text-align: center;
	line-height: 50px;
}






